<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'index', 'item', :plugin => 'redmine_backlogs', :media => 'screen, print' %>
    <%= javascript_include_tag  'main', 'backlog', 'item', 'task', :plugin => 'redmine_backlogs', :cache => 'backlogsjs/all' %>
<% end %>
<div class="backlog_toolbar">
  <p class="contextual">
    <%= link_to l(:label_feature_new), { :controller => 'custom_issues' , :action => 'new', :project_id => @project, :tracker_id => 2, :back_to => @back }, :class => 'b-icon icon-add' %>
  </p>
  <select id="move_items" class="actions">
    <option>Move selected items to...</option>
    <% backlogs = @backlog ? [@backlog] : @backlogs %>
    <%- backlogs.each do |backlog| %>
      <%- if backlog.version.state or @backlog %>
        <option value="<%= backlog.id %>">&nbsp;&nbsp;&nbsp;&nbsp;<%= backlog.version.name %></option>
      <% end %>
    <%- end %>
    <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;Product Backlogs</option>
  </select>
  <% form_tag url_for(:controller => "backlogs", :action => "index", 
                 :project_id => @project, :show_accepted_backlogs => @show_accepted_backlogs), :id => "select_backlog" do %>
    <%= select_tag "backlog", ["<option>Select an Iteration to show</option>"] << options_from_collection_for_select(@backlogs, "id", "name"),
                      :onchange => "this.form.submit();" %>
  <% end %>
  <div id="show_accepted_backlogs_container">
    <% form_for :backlogs, @backlogs, :url => {:controller => "backlogs", :action => "index", :project_id => @project} do |f| %>
      <%= check_box_tag "show_accepted_backlogs", nil, @show_accepted_backlogs, :onchange => "this.form.submit();" %> Show accepted backlogs
    <% end %>
  </div>
</div>

<div class="backlog main">
  <%= render :partial => "header", :locals => { :backlog => nil } %>
  <% if @items && @items[:backlog] %>
  <ul>
    <% @items[:backlog][:pitems].each do |item| %>
      <%= render :partial => "items/item", :locals => {:item => item, :citems => @items[:backlog][:citems]} %>
    <% end %>
  </ul>
  <% end %>
</div>

<div id="backlog_body">
  <% unless @backlog  %>
    <%- @backlogs.each do |backlog| %>
      <%- if backlog.version.state %>
      <div class="backlog <%= backlog.is_closed? ? "closed" : "" %>">
        <%= render :partial => "header", :locals => { :backlog => backlog } %>
        <ul>
          <% @items[backlog.id][:pitems].each do |item| %>
            <%= render :partial => "items/item", :locals => {:item => item, :citems => @items[backlog.id][:citems]} %>
          <% end %>
        </ul>
      </div>
      <%- end %>
    <%- end %>
  <% else %>
    <div class="backlog <%= @backlog.is_closed? ? "closed" : "" %>">
      <%= render :partial => "header", :locals => { :backlog => @backlog } %>
      <ul>
        <% @items[@backlog.id][:pitems].each do |item| %>
          <%= render :partial => "items/item", :locals => {:item => item, :citems => @items[@backlog.id][:citems]} %>
        <% end %>
        </ul>
    </div>
  <% end %>
  
</div>

<div id="item_template">
  <%= render :partial => "items/item", :object => @item_template %>
</div>

<select class="status_id" id="status_id_options">
  <%- IssueStatus.find(:all, :order => "position ASC").each do |status| %>
  <option value="<%= status.id %>" class="<%= (status.is_closed? ? "closed" : "") %>"><%= status.name %></option>
  <%- end %>
</select>

<select class="assigned_to_id" id="assigned_to_id_options">
  <option value=""> </option>
  <%- @project.users.each do |member| %>
  <option value="<%= member.id %>"><%= "#{member.firstname} #{member.lastname}" %></option>
  <%- end %>
</select>

<select class="is_closed" id="is_closed_options">
  <option value="false">Open</option>
  <option value="true">Closed</option>
</select>

<%= select_tag :tracker_id_options, options_for_select( @project.trackers.collect {|t| [t.name, t.id]} ), :class => "tracker_id" %>

<div id="spinner_preload"> </div>

<script>
  var projectID = '<%= @project.identifier %>';
</script>
